html,
body {
    font-size: 14px;
}

.bg {
    width: 100vw;
    height: 100vh;
    background: url(../img/login-bg.jpg) no-repeat center;
    background-size: cover;
}

.form-panel {
    right: 30px;
    width: 350px;
}


.user .dropdown-menu {
    left: auto;
    right: 0;
}

/* 表格垂直居中 */

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
}