<div class="accordion" id="accordion">
    <div class="card">
        <div class="card-header">
            <div data-bs-toggle="collapse" data-bs-target="#collapse1">
                <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                    <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#journals" />
                </svg>
                文章管理
            </div>
        </div>
        <div id="collapse1" class="collapse" data-bs-parent="#collapse1">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="./article-list.html" class="text-decoration-none">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#journal-richtext" />
                        </svg>
                        文章列表
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="./article-add.html" class="text-decoration-none">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#journal-plus" />
                        </svg>
                        发布文章
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <div data-bs-toggle="collapse" data-bs-target="#collapse2">
                <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                    <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#diagram-3" />
                </svg>
                分类管理
            </div>
        </div>
        <div id="collapse2" class="collapse" data-bs-parent="#collapse2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="./category-list.html" class="text-decoration-none">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#diagram-2" />
                        </svg>
                        分类列表
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div data-bs-toggle="collapse" data-bs-target="#collapse3">
                <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                    <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#tags" />
                </svg>
                用户管理
            </div>
        </div>
        <div id="collapse3" class="collapse"  data-bs-parent="#collapse3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="./user-list.html" class="text-decoration-none">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#person" />
                        </svg>
                        用户列表
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div data-bs-toggle="collapse" data-bs-target="#collapse4">
                <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                    <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#chat-square-text" />
                </svg>
                公告管理
            </div>
        </div>
        <div id="collapse4" class="collapse" data-bs-parent="#collapse4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#" class="text-decoration-none">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#list-check" />
                        </svg>
                        公告列表
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="text-decoration-none">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#clipboard-plus" />
                        </svg>
                        发布公告
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div data-bs-toggle="collapse" data-bs-target="#collapse5">
                <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                    <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#chat-quote" />
                </svg>
                评论管理
            </div>
        </div>
        <div id="collapse5" class="collapse" data-bs-parent="#collapse5">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#" class="text-decoration-none">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#chat-text" />
                        </svg>
                        评论列表
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="text-decoration-none">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#reply-all" />
                        </svg>
                        回复评论
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div data-bs-toggle="collapse" data-bs-target="#collapse6">
                <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                    <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#person" />
                </svg>
                账户管理
            </div>
        </div>
        <div id="collapse6" class="collapse" data-bs-parent="#collapse6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="./admin-list.html" class="text-decoration-none">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#people" />
                        </svg>
                        账户列表
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="#" class="text-decoration-none">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#puzzle" />
                        </svg>
                        角色管理
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>