<div class="accordion" id="accordion">
    <div class="card">
        <div class="card-header">
            <div data-toggle="collapse" data-target="#collapseOne">
                <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                    <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#journals" />
                </svg>
                文章管理
            </div>
        </div>
        <div id="collapseOne" class="collapse" data-parent="#accordion">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="./article-list.html">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#journal-richtext" />
                        </svg>
                        文章列表
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="./article-add.html">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#journal-plus" />
                        </svg>
                        发布文章
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <div data-toggle="collapse" data-target="#collapseTwo">
                <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                    <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#tags" />
                </svg>
                标签管理
            </div>
        </div>
        <div id="collapseTwo" class="collapse">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="./tag-list.html">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#tag" />
                        </svg>
                        标签列表
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#bookmark-plus" />
                        </svg>
                        添加标签
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div data-toggle="collapse" data-target="#collapseThree">
                <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                    <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#diagram-3" />
                </svg>
                分类管理
            </div>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="./category-list.html">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#diagram-2" />
                        </svg>
                        分类列表
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="./category-add.html">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#node-plus" />
                        </svg>
                        添加分类
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div data-toggle="collapse" data-target="#collapseFour">
                <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                    <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#chat-square-text" />
                </svg>
                公告管理
            </div>
        </div>
        <div id="collapseFour" class="collapse" data-parent="#accordion">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#list-check" />
                        </svg>
                        公告列表
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#clipboard-plus" />
                        </svg>
                        发布公告
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div data-toggle="collapse" data-target="#collapseFive">
                <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                    <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#chat-quote" />
                </svg>
                评论管理
            </div>
        </div>
        <div id="collapseFive" class="collapse" data-parent="#accordion">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#chat-text" />
                        </svg>
                        评论列表
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#reply-all" />
                        </svg>
                        回复评论
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div data-toggle="collapse" data-target="#collapseSix">
                <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                    <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#person" />
                </svg>
                账户管理
            </div>
        </div>
        <div id="collapseSix" class="collapse" data-parent="#accordion">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="./admin-list.html">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#people" />
                        </svg>
                        账户列表
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#collection" />
                        </svg>
                        用户组
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="./assets/iconfonts/bootstrap-icons.svg#puzzle" />
                        </svg>
                        角色管理
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>