<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CMS管理系统</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">预览网站</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">站点配置</a>
            </li>
            <li class="nav-item dropdown user">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    admin
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">账户设置</a>
                    <a class="dropdown-item" href="#">消息通知</a>
                    <div class="dropdown-divider"></div>
                    <div id="logout" class="dropdown-item">退出登录</div>
                </div>
            </li>
        </ul>
    </div>
</nav>