<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="./index.html">听雨轩</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav left me-auto mb-2 mb-lg-0">
            </ul>
            <ul class="navbar-nav right mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="./login.html">登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./register.html">注册</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./user-center.html">夏目友人帐</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">我的评论</a>
                </li>
            </ul>
        </div>
    </div>
</nav>